*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Prosto One", serif;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  background-color: #d7d8f5;
  width: 100%;
  height: 100%;
}
@media (min-width: 73.125em) {
  body {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 1rem , 0.8117647059rem  +  0.9411764706vw , 1.5rem )) {
    body {
      font-size: clamp( 1rem , 0.8117647059rem  +  0.9411764706vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8117647059rem  +  0.9411764706vw , 1.5rem )) {
    body {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  body {
    font-size: 1rem;
  }
}

.main {
  margin-top: 85px;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
.container-main .hero-title {
  color: #151212;
}
@media (min-width: 73.125em) {
  .container-main .hero-title {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (margin-bottom: clamp( 1.25rem , -0.1617647059rem  +  7.0588235294vw , 5rem )) {
    .container-main .hero-title {
      margin-bottom: clamp( 1.25rem , -0.1617647059rem  +  7.0588235294vw , 5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , -0.1617647059rem  +  7.0588235294vw , 5rem )) {
    .container-main .hero-title {
      margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .container-main .hero-title {
    margin-bottom: 1.25rem;
  }
}
.container-main .list-largest-it-companies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media (min-width: 73.125em) {
  .container-main .list-largest-it-companies {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (gap: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem )) {
    .container-main .list-largest-it-companies {
      gap: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.1544117647rem  +  2.3529411765vw , 1.875rem )) {
    .container-main .list-largest-it-companies {
      gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .container-main .list-largest-it-companies {
    gap: 0.625rem;
  }
}
.container-main .list-largest-it-companies .list-item-largest-it-companies {
  position: relative;
  cursor: pointer;
}
.container-main .list-largest-it-companies .largest-it-companiess-image {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.container-main .list-largest-it-companies .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.container-main .list-largest-it-companies .description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  padding: 0 15px;
}
@media (min-width: 73.125em) {
  .container-main .list-largest-it-companies .description {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (gap: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.5rem )) {
    .container-main .list-largest-it-companies .description {
      gap: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.5rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.5rem )) {
    .container-main .list-largest-it-companies .description {
      gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .container-main .list-largest-it-companies .description {
    gap: 0.625rem;
  }
}
@media (min-width: 73.125em) {
  .container-main .list-largest-it-companies .description-title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
    .container-main .list-largest-it-companies .description-title {
      font-size: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
    .container-main .list-largest-it-companies .description-title {
      font-size: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .container-main .list-largest-it-companies .description-title {
    font-size: 1.25rem;
  }
}
@media (min-width: 73.125em) {
  .container-main .list-largest-it-companies .description-text {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 1rem , 0.6235294118rem  +  1.8823529412vw , 2rem )) {
    .container-main .list-largest-it-companies .description-text {
      font-size: clamp( 1rem , 0.6235294118rem  +  1.8823529412vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.6235294118rem  +  1.8823529412vw , 2rem )) {
    .container-main .list-largest-it-companies .description-text {
      font-size: calc(1rem + 1 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 20em) {
  .container-main .list-largest-it-companies .description-text {
    font-size: 1rem;
  }
}

.list-item-largest-it-companies:hover .overlay {
  opacity: 1;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.list-item-largest-it-companies:hover .description {
  opacity: 1;
}
.list-item-largest-it-companies:hover .largest-it-companiess-image {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 862px) {
  .container-main .list-largest-it-companies {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}
@media (max-width: 768px) {
  .container-main .list-largest-it-companies {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .container-main .list-largest-it-companies .overlay {
    opacity: 1;
  }
  .container-main .list-largest-it-companies .description {
    opacity: 1;
  }
}
@media (max-width: 550px) {
  .container-main .list-largest-it-companies {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .container-main .hero-title {
    text-align: center;
  }
}
@media (max-width: 550px) and (min-width: 73.125em) {
  .container-main .description .description-title {
    font-size: 1.875rem;
  }
}
@media (max-width: 550px) and (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 1rem , 0.6705882353rem  +  1.6470588235vw , 1.875rem )) {
    .container-main .description .description-title {
      font-size: clamp( 1rem , 0.6705882353rem  +  1.6470588235vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.6705882353rem  +  1.6470588235vw , 1.875rem )) {
    .container-main .description .description-title {
      font-size: calc(1rem + 0.875 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 550px) and (max-width: 20em) {
  .container-main .description .description-title {
    font-size: 1rem;
  }
}
@media (max-width: 550px) and (min-width: 73.125em) {
  .container-main .description .description-text {
    font-size: 1.625rem;
  }
}
@media (max-width: 550px) and (min-width: 20em) and (max-width: 73.125em) {
  @supports (font-size: clamp( 0.625rem , 0.2485294118rem  +  1.8823529412vw , 1.625rem )) {
    .container-main .description .description-text {
      font-size: clamp( 0.625rem , 0.2485294118rem  +  1.8823529412vw , 1.625rem );
    }
  }
  @supports not (font-size: clamp( 0.625rem , 0.2485294118rem  +  1.8823529412vw , 1.625rem )) {
    .container-main .description .description-text {
      font-size: calc(0.625rem + 1 * (100vw - 20rem) / 53.125);
    }
  }
}
@media (max-width: 550px) and (max-width: 20em) {
  .container-main .description .description-text {
    font-size: 0.625rem;
  }
}
@media (max-width: 442px) {
  .container-main .description .description-title {
    font-size: 40px;
  }
  .container-main .description .description-text {
    font-size: 24px;
  }
}