$blackPrimary: #151212;
$blackSecondary: rgba(0, 0, 0, 0.8);

$whiteColor: #ffffff;
$greyBackgroundColor: #d7d8f5;


$containerWidth: 1170;
$maxWidthContainer: 1170;
$containerPadding: 15;
$minWidth: 320;
