@import "reset";
@import "mixin";
@import "variables";

body {
  @include body-styles;
  width: 100%;
  height: 100%;
}
// img {
//   width: 100%;
//   height: 100%;
// }

.wrapper {
}
.main {
  margin-top: 85px;
}
.container-main {
  display: flex;
  flex-direction: column;
  max-width: toRem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 toRem($containerPadding);

  .hero-title {
    color: $blackPrimary;
    @include adaptiveValue("margin-bottom", 80, 20);
  }
  .list-largest-it-companies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    @include adaptiveValue("gap", 30, 10);

    .list-item-largest-it-companies {
      position: relative;
      cursor: pointer;
    }

    .largest-it-companiess-image {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $blackSecondary;
      opacity: 0;
      transition: transform 0.3s ease;
    }
    .description {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      @include adaptiveValue("gap", 40, 10);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      padding: 0 15px;
    }

    .description-title {
      @include adaptiveValue("font-size", 60, 20);
    }
    .description-text {
      @include adaptiveValue("font-size", 32, 16);
    }
  }
}

.list-item-largest-it-companies:hover {
  .overlay {
    opacity: 1;
    transform: scale(1.05);
  }
  .description {
    opacity: 1;
  }

  .largest-it-companiess-image {
    transform: scale(1.05);
  }
}

@media (max-width: 862px) {
  .container-main {
    .list-largest-it-companies {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
  }
}

@media (max-width: 768px) {
  .container-main {
    .list-largest-it-companies {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      .overlay {
        opacity: 1;
      }
      .description {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 550px) {
  .container-main {
    .list-largest-it-companies {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .hero-title {
      text-align: center;
    }
    .description {
      .description-title {
        @include adaptiveValue("font-size", 30, 16);
      }
      .description-text {
        @include adaptiveValue("font-size", 26, 10);
      }
    }
  }
}

@media (max-width: 442px) {
  .container-main {
    .description {
      .description-title {
        font-size: 40px;
      }
      .description-text {
        font-size: 24px;
      }
    }
  }
}
